<html>

<head>
  <title>Active Directory search</title>
  <script src="/static/js/TableFilter/dist/tablefilter/tablefilter.js"></script>
  <link rel="stylesheet" href="/static/styles/main.css">
  <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
  <link id="tf_11d36c6b-2bd3-0e0f-a936-00be86dad3b9_style" type="text/css" rel="stylesheet" href="/static/js/TableFilter/dist/tablefilter/style/tablefilter.css">
</head>
   
<body>
<div class='superhead'>
&nbsp;Active Directory search
</div>
<center>
<br>
  Search by userid or name to get a person's e-mail, Active Directory ID, and cost center.
  <form action="/searchad" method='post'>
  <input name=term>
  &nbsp;<input type=submit value="Search">
  </form>

</center>

</body>
</html>
