<html>

<head>
  <title>Remote Site Outage History</title>
  <script src="/static/js/TableFilter/dist/tablefilter/tablefilter.js"></script>
  <link rel="stylesheet" href="/static/styles/main.css">
  <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
  <link id="tf_11d36c6b-2bd3-0e0f-a936-00be86dad3b9_style" type="text/css" rel="stylesheet" href="/static/js/TableFilter/dist/tablefilter/style/tablefilter.css">
</head>
   
<body>
<div class='superhead'>
&nbsp;Remote Site Outage History 
</div>
<center>
<div>
  {% for dateo in mydict[0] %}
    <br>{{ dateo }}<br>
    {% autoescape false %}
    {% for site in mydict[1] %}
      {% if dateo in mydict[1][site] %}
        {{ site }}: {{ (mydict[1][site][dateo]['total']/60)|round|int }} minutes of outage<br>
      {% endif %}
    {% endfor %}
    {% endautoescape %}
  {% endfor %}
</div>
</center>

<script>
var tf = new TableFilter(document.querySelector('.sortable'), {
    base_path: '/TableFilter/dist/tablefilter/',
    status_bar: true,
rows_counter: true,

    highlight_keywords: true,
    extensions: [{ name: 'sort' },{
              name: 'colsVisibility',
              at_start: [],
              text: 'Show/hide columns',
              enable_tick_all: true
          }],
    base_path: '/js/TableFilter/dist/tablefilter/',
    col_3: 'select',
    col_4: 'select',
    status_bar: true,
    load_filters_on_demand: true,
    responsive:true,
    btn_reset: true,
    rows_counter: true,
    highlight_keywords: true,

});
tf.init();
tf.activateFilter(0);
  tf.filter();
</script>

</body>
</html>
